
<div class="jumbotron">
	<div class="container">

<!-- 		<h1><%= title %></h1>
		<p>Welcome to <%= title %></p>
		<p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p> -->
		<img class="img-responsive" src="/media/pathfinder.png">
	</div>	
</div>
<!-- 
<html>
<head>
</head>
<body>

<h1><%= title %></h1>
<h3>Welcome to <%= title %></h3>
<h3 style="color:red"><%= errorMessage %></h3>
<h3 style="color:blue"><%= infoMessage %></h3>
<form action="/login" method="post">

    username: <input type="text" name="name" size="15"><br>
    password: <input type="password" name="password" size="15"><br>
    <input type="submit" value="login"><br>
    
    <a href="/emailpassword"> Forgot password</a><br>
    <a href="/newuser"> Create new account</a><br>

</form>

</body>
</html>
 -->